/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Sayfanın after before ve kendisini seç her zaman garip davranışları engeller */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Kök font-size responsive için HTML'e her zaman 62.5% ver */
html {
  /* 10px ile hesaplama yapması daha kolay */
  /* font-size: 10px; */
  /* FONT SIZE'I PIKSEL YAZMAK DOĞRU DEĞİL, SABİT 10 PX İÇİN AŞAĞIDAKİNİ YAZ*/
  font-size: 62.5%;
  /* Böylece kullanıcı zoom yaptığında tüm sayfa düzenli kalır */
}

/* Font-size özellikleri kalıtsaldır */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  /* Box sizing özelliğini kalıtıma zorlamak için burada yazıp *'da inherit ver */
  box-sizing: border-box;
}

.header {
  /* Ekran görüntüsünün %95'i kadar */
  height: 95vh;
  border-radius: 5px;
  /* Add second img with comma for gradient */
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  /* Öğenin boyutu ne olursa olsun kutuya sığdır  */
  background-size: cover;
  /* Boyut değişse de resmi en üste sabit tut */
  background-position: top;
  /* Öğeyi cliplemek [Sol üst - sağ üst - sağ alt - sol alt] */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* Logo için referans olması adına relative */
  position: relative;
}

.header__logo-box {
  /* logoyu header'a göre konumlandırma */
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  /* Browser genişliği otomatik hesaplar height yeterli */
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  /* Top ve left özelliği text-box'ın parent elementi ile ilgilidir */
  top: 40%;
  left: 50%;
  /* text-box'ı sol ve üst kenarlığına göre ortalar */
  /* Ancak element tam ortada görünmez, bunun için */
  transform: translate(-50%, -50%);
  /* -50% -50% Kutunun kendi içinde en ve boy olarak ortalamasını sağlar */
  text-align: center;
  /* To center button */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* Animasyon titremesi düzeltme için */
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  /* Bu element inline, alt alta koymak için blok olarak ayarla */
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  /* Animations */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* 

  animation-delay: 3s;              Gecikme
  animation-iteration-count: 3;     Tekrar
  
  */
}

/* Alt başlık */
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
}

/* h1 üst satır */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.6;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* h1 alt satır */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.6;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* H1 altındaki buton */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Buttonların ilk durumları için */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  /* Inlıne element olduğu için blok yap */
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;

  /* button::after'a  referans olması için */
  position: relative;
}

.btn:hover {
  transform: translateY(0.3rem);
  /* X direction , Y direction, Blur, Color */
  box-shadow: 4rem 4rem 8rem -3.5rem rgba(0, 0, 0, 0.34);
}

/* Tıklanmış buton */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 2rem 2rem 4rem -1.5rem rgba(0, 0, 0, 0.171);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

/* PULSE EFFECT */
/* elementin arkasında çalışır, elementin çocuğu gibi sayılır */
.btn::after {
  /* Content her zaman olmalı, boş bırakılabilir */
  content: "";
  /* Seçtiğimiz element ile aynı özelliklere sahip olmalı. inline-block  */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  /* Butonun arkasına saklamak için */
  z-index: -1;
  transition: all 0.4s;
}

/* Beyaz olması için */
.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  /* Scale özelliği X ve Y yönünde farklı yazılabilir */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  backface-visibility: hidden;
  /* başlangıçta butonu görünmez yap 'backwards' */
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}
