.header {
    height: 85vh;
    border-radius: 5px;
    // Add second img with comma for gradient
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;    
    position: relative;

    // Firefox eski versiyonu clip path desteklemiyor, destekliyorsa yap, yoksa yapma
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    // Apple Retina referans alınır [ Çözünürlüğe göre ]
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // Safari support
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
            url(../img/hero.jpg);
    }

    // 2000px'den büyük ekranda büyük resmi getir
    // @media (min-width: 2000px){
    //     background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    //     url(../img/hero.jpg);
    // }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        // logoyu header'a göre konumlandırma
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        // Browser genişliği otomatik hesaplar height yeterli
        height: 4.5rem;
    }

    &__text-box {
        position: absolute;
        // Top ve left özelliği text-box'ın parent elementi ile ilgilidir
        top: 40%;
        left: 50%;
        // text-box'ı sol ve üst kenarlığına göre ortalar
        // Ancak element tam ortada görünmez, bunun için
        transform: translate(-50%, -50%);
        // -50% -50% Kutunun kendi içinde en ve boy olarak ortalamasını sağlar
        text-align: center;
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        border-radius: 1px;
    }
}
