.header {
    // Ekran görüntüsünün %95'i kadar
    height: 95vh;
    border-radius: 5px;
    // Add second img with comma for gradient
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    // Öğenin boyutu ne olursa olsun kutuya sığdır
    background-size: cover;
    // Boyut değişse de resmi en üste sabit tut
    background-position: top;
    // Öğeyi cliplemek [Sol üst - sağ üst - sağ alt - sol alt]
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    // Logo için referans olması adına relative
    position: relative;

    &__logo-box {
        // logoyu header'a göre konumlandırma
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        // Browser genişliği otomatik hesaplar height yeterli
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        // Top ve left özelliği text-box'ın parent elementi ile ilgilidir
        top: 40%;
        left: 50%;
        // text-box'ı sol ve üst kenarlığına göre ortalar
        // Ancak element tam ortada görünmez, bunun için
        transform: translate(-50%, -50%);
        // -50% -50% Kutunun kendi içinde en ve boy olarak ortalamasını sağlar
        text-align: center;
        // To center button
    }
}