// Sayfanın after before ve kendisini seç her zaman garip davranışları engeller
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

// Kök font-size responsive için HTML'e her zaman 62.5% ver
html {
    // Sabit 10px ile hesaplama yapması daha kolay.
    // font-size: 10px;
    // 1 rem 62.5%
    font-size: 62.5%;
    // Böylece kullanıcı zoom yaptığında tüm sayfa düzenli kalır

    //! HER ZAMAN BÜYÜK OLANLAR KÜÇÜKLERDEN ÖNCE GELMELİ / ÇAKIŞMAMA DURUMU İÇİN
     
    // Büyük Masaüstü
    @include respond (big-desktop) {
        font-size: 75%; // 1rem = 12px olsun istiyoruz, 12/16 = 75%
    }

    // Dikey tablet
    @include respond (tab-land) { // width < 1200?
        font-size: 56.25%; // 1rem = 9px olsun istiyoruz, 9/16 = 56.25%
    }

    // Yatay tablet
    @include respond (tab-port) { // width < 900?
        font-size: 50%; // 1rem = 8px olsun istiyoruz, 8/16 = 50%
    }

    // Telefon
    @include respond (phone) { // width < 600?
        font-size: 30%; // 1rem = 4.8px olsun istiyoruz, 4.8/16 = 30%
    }

}

body{
    box-sizing: border-box;
    padding: 3rem;

    // Tablet boyutunda tüm sayfanın paddingini kaldır.
    @include respond (tab-port) { 
        padding: 0;
    }
}

// Kullanıcının seçtiği yazılar için ayar
::selection{
    background-color: $color-primary;
    color: $color-white;
}

*::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color-primary;
    height: 100px;
}