// Font-size özellikleri kalıtsaldır
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    // Animasyon titremesi düzeltme için
    backface-visibility: hidden;

    &--main {
        // Bu element inline, alt alta koymak için blok olarak ayarla
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        // Animations
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    // Alt başlık
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    // Display inline block yap, gredient sadece yazıyı kapsasın
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    // Yazıyı kes, arka plan görünmesi için transparan yap
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .3s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($color-black, $alpha: .2);
    }
}
